/* HOME */
.tp-banner .flex-control-nav {
    bottom: 0 !important;
}
.tp-banner .timeline-badge.danger, .flex-control-paging li a.flex-active {
    background-color: #17c405 !important;
}
.tp-banner .flex-direction-nav a {
    width: 60px !important;
    height: 60px !important;
    line-height: 60px !important;
    text-align: center !important;
    border-radius: 100%;
    background-color: rgba(78, 78, 78, 0.5);
    right: 15px !important;
    opacity: 1 !important;
}
.tp-banner .flex-direction-nav .flex-prev {
    left: 15px !important;
}
#topbar {
    height: 15px;
    background-color: #17c405;
}
#header-style-1.affix .navbar-brand img {
    width: 150px;
}
#header-style-1 {
    padding: 20px 0 25px;
}
#header-style-1 .main-menu {
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
}
#header-style-1.affix .main-menu {
    margin-top: 13px;
}
#header-style-1 .main-menu .dropdown #dLabel {
    color: #4e4e4e;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}
#header-style-1 .main-menu .dropdown #dLabel .caret {
    border-top: 5px solid;
    position: relative;
    bottom: 4px;
}
#header-style-1 .search-header {
    display: inline-block;
    margin-left: 30px;
    width: 500px;
    position: relative;
    top: 0px;
}
#header-style-1 .search-header button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 18px;
    font-size: 16px;
        border-radius: 0 4px 4px 0;
}
#header-style-1 .search-header .form-control {
    font-weight: 500;
    color: #4a4a4e !important;
}
#header-style-1 .navbar-nav {
    margin-top: 20px;
}
#header-style-1 .navbar-nav > li:after {
    content: '|';
    float: left;
    color: #4e4e4e;
    position: absolute;
    right: -2px;
    top: 0;
}
#header-style-1 .navbar-nav > li:last-child:after {
    content: '' !important;
    display: none;
}
#header-style-1 .navbar-nav > li {
    padding: 0 10px;  
}
#header-style-1 .navbar-nav > li > a {
    color: #4e4e4e;
    border-radius: 0 !important;
    padding: 0;
    margin-top: 0;
    display: inline-block;
    height: 25px;
    text-transform: capitalize;
    font-size: 16px;
}
#header-style-1 .navbar-nav > li > a:hover, #header-style-1 .navbar-nav > li > a:focus, #header-style-1 .navbar-nav > li > a:active {
    background-color: transparent;
    color: #4e4e4e !important;
}
#header-style-1 .dropdown-menu {
    border-top-color: #17c405 !important;
    margin-top: 0;
}
#header-style-1 .dropdown-menu li a{
    color: #4e4e4e;
    font-size: 16px;
}
#header-style-1.affix .navbar-nav {
    margin-top: 10px;
}
#header-style-1 .main-menu.hidden-xs .dropdown-menu .dropdown-submenu .caret {
    position: relative;
    bottom: 3px;
}
.slider-wrapper .tp-banner .overlay-banner {
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.slider-wrapper .tp-banner .small_title {
    text-align: center;
}
.slider-wrapper .tp-bullets.simplebullets .bullet.selected {
    border-color: #17c405 !important;
}
.slider-wrapper .tparrows:hover,
.slider-wrapper .tparrows:focus,
.slider-wrapper .tparrows:active {
    background-color: #17c405 !important;
    border-color: #17c405 !important;
}
.slider-wrapper .tp-bullets {
    z-index: 100 !important;
}
.radio-palyer .col-sm-3 {
    width: 22%;
}
.radio-palyer .img-radio {
    display: inline-block;
}
.radio-palyer .title-radio {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.radio-palyer .title-radio h3 {
    color: #FFF;
    font-weight: bold;
    width: 140px;
    line-height: 20px !important;
}
.radio-palyer .title-radio p {
    margin-bottom: 0;
    color: #FFF;
    font-size: 16px;
}
.radio-channel .img-radio-channel .magnifier a {
    color: #FFF !important;
    font-weight: 500;
    display: block;
}
.radio-channel .img-radio-channel .magnifier a:hover,
.radio-channel .img-radio-channel .magnifier a:focus,
.radio-channel .img-radio-channel .magnifier a:active {
    background-color: transparent !important;
}
.radio-channel .img-radio-channel .entry img {
    border-radius: 3px !important;
}
.radio-channel .img-radio-channel .magnifier {
    border-radius: 3px;
    margin: 15px;
    background-color: rgba(23,196,5,0.8);
}
.radio-channel .img-radio-channel .portfolio_item {
    margin-bottom: 30px;
}
.radio-channel .text-radio-channel p {
    font-size: 18px;
}
.radio-channel .text-radio-channel .btn-default {
    border-color: #4e4e4e;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.radio-channel .text-radio-channel .btn-default:hover,
.radio-channel .text-radio-channel .btn-default:active,
.radio-channel .text-radio-channel .btn-default:focus {
    border-color: #17c405 !important;
    color: #FFF !important;
    background-color: transparent !important;
}
.radio-news-event .title-news-event hr {
    display: inline-block;
    border: 2px solid #FFF;
    width: 70px;
    padding: 0;
    position: relative;
    bottom: 10px;
}
.radio-news-event .title-news-event {
    height: 100%;
}
.radio-news-event .title-news-event h1 {
    font-size: 32px;
    text-transform: uppercase;
}
.radio-news-event .title-news-event p {
    color: #FFF;
    line-height: 22px;
}
.radio-news-event .title-news-event .btn-default {
    background-color: transparent !important;
    color: #FFF !important;
    margin-top: 30px;
    font-weight: bold;
}
.radio-news-event .title-news-event .btn-default:hover,
.radio-news-event .title-news-event .btn-default:focus,
.radio-news-event .title-news-event .btn-default:active {
    color: #4e4e4e !important;
    border-color: #FFF !important;
}
.radio-news-event .portfolio_item .magnifier {
    background-color: rgba(23,196,5,0.8);
}
.radio-news-event .portfolio_item .magnifier .buttons h3 {
    text-align: left;
    margin: 0;
    padding: 0;
}
.radio-news-event .portfolio_item .magnifier .buttons {
    top: 47%;
}
.radio-news-event .portfolio_item .magnifier .buttons p {
    color: #FFF;
    margin-top: 10px;
    line-height: 22px;
    margin-bottom: 10px;
}
.radio-news-event .portfolio_item .magnifier .buttons a {
    display: inline-block !important;
    background-color: #4e4e4e;
    margin-top: 1px;
    border: none;
    color: #fff !important;
    padding: 5px 13px !important;
    font-size: 14px;
    line-height: 28px;
}
.radio-news-event .portfolio_item .magnifier .buttons a:hover,
.radio-news-event .portfolio_item .magnifier .buttons a:focus,
.radio-news-event .portfolio_item .magnifier .buttons a:active {
    color: #4e4e4e !important;
}
.radio-news-event .portfolio_item .magnifier .buttons .hvr-sweep-to-right:before {
    border-radius: 3px;
}
.radio-news-event .portfolio_item {
    height: 100%;
}
.radio-news-event .portfolio_item .entry {
    height: 100%;
}
.radio-news-event .portfolio_item .entry img {
    height: 100%;
    border-radius: 0 !important;
}
.category-channel .milestone-details {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 30px;
    font-family: proxima-reg;
}
.channel-logo .col-sm-2 {
    width: 20%;
    margin-bottom: 30px;
}
.banner-img {
    background-position: center center;
    background-size: cover;
    padding: 95px 0;
    position: relative;
}
.page-under .radio-channel .img-radio-channel .entry img {
    border-radius: 3px !important;
}
.page-under .radio-channel .img-radio-channel .magnifier {
    border-radius: 3px !important;
}
.page-under #sidebar .breadcrumb-sidebar ul li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}
.page-under #sidebar .breadcrumb-sidebar ul li a:after {
    content: '/';
    display: inline-block;
    color: #4e4e4e;
    position: relative;
    left: 7px;
    
}
.page-under #sidebar .breadcrumb-sidebar ul li a {
    color: #4e4e4e;
}
.page-under #sidebar .widget .fl {
    border: 1px solid #17c405;
    font-size: 16px;
    padding: 6px 20px;
}
.page-under #sidebar .widget .fl:hover,
.page-under #sidebar .widget .fl:focus,
.page-under #sidebar .widget .fl:active {
    color: #4e4e4e;
    border: 1px solid #4e4e4e;
    background-color: #17c405 !important;
}
.page-under .sm {
    background-color: #FFF !important;
    border-color: #4e4e4e;
}
.page-under .sm:hover,
.page-under .sm:focus,
.page-under .sm:active {
    border-color: #17c405;
    color: #FFF;
}
/*.detail-channel #sidebar {
    position: relative;
    bottom: 139px;
}*/
.detail-channel #content .header-detail-channel .title p {
    font-size: 18px;
}
.detail-channel #content .breadcrumb-content ul li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}
.detail-channel #content .breadcrumb-content ul li a:after {
    content: '/';
    display: inline-block;
    color: #4e4e4e;
    position: relative;
    left: 7px;
    
}
.detail-channel #content .breadcrumb-content ul li a {
    color: #4e4e4e;
}
.detail-channel #content .header-detail-channel .description .p-grid {
    display: none;
}
.detail-channel #content .header-detail-channel .description.intro #viewMore {
    display: none;
}
.detail-channel .news-detail-channel .slide-news-event .blog-carousel-header a:hover,
.detail-channel .news-detail-channel .slide-news-event .blog-carousel-header a:focus,
.detail-channel .news-detail-channel .slide-news-event .blog-carousel-header a:active {
    background-color: transparent;
    color: #17c405 !important;
}
.detail-channel .news-detail-channel .slide-news-event .blog-carousel-desc a {
    border: 1px solid #17c405;
}
.detail-channel .news-detail-channel .slide-news-event .blog-carousel-desc a:hover,
.detail-channel .news-detail-channel .slide-news-event .blog-carousel-desc a:focus,
.detail-channel .news-detail-channel .slide-news-event .blog-carousel-desc a:active {
    color: #4e4e4e;
    border-color: #4e4e4e;
}
.detail-channel #owl-blog .owl-controls .owl-prev, .detail-channel #owl-blog .owl-controls .owl-next {
    font-size: 18px;
    line-height: 30px;
    background-color: #4e4e4e;
}
.detail-channel #owl-blog .owl-controls .owl-prev:hover,
.detail-channel #owl-blog .owl-controls .owl-prev:focus,
.detail-channel #owl-blog .owl-controls .owl-prev:active,
.detail-channel #owl-blog .owl-controls .owl-next:hover,
.detail-channel #owl-blog .owl-controls .owl-next:focus,
.detail-channel #owl-blog .owl-controls .owl-next:active {
    background-color: #17c405;
}
.detail-channel .news-detail-channel .well {
    box-shadow: none;
    border-radius: 0 !important;
}
.page-news-event .content-news-event .blog-masonry .blog-carousel {
    margin-top: 0;
    margin-bottom: 15px;
}
.page-news-event .content-news-event .blog-masonry .blog-carousel .blog-carousel-header h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.page-news-event .content-news-event .blog-masonry .blog-carousel .blog-carousel-header h3 a:hover,
.page-news-event .content-news-event .blog-masonry .blog-carousel .blog-carousel-header h3 a:focus,
.page-news-event .content-news-event .blog-masonry .blog-carousel .blog-carousel-header h3 a:active {
    background-color: transparent;
    color: #17c405 !important;
}
.page-news-event .btn-categ-news-event .portfolio-filter ul li:after {
    content: '|';
    display: inline-block;
    color: #4e4e4e;
    position: relative;
    left: 7px;
    top: 3px;
}
.page-news-event .btn-categ-news-event .portfolio-filter ul li:last-child:after {
    content: '';
}
.page-news-event .btn-categ-news-event .portfolio-filter ul li {
    margin-right: 10px;
}
.page-news-event .btn-categ-news-event .portfolio-filter ul li a {
    color: #4e4e4e;
    font-weight: 600;
    font-size: 18px;
    border-radius: 0 !important;
    cursor: pointer;
}
.page-news-event .content-news-event .blog-carousel .blog-carousel-header a:hover,
.page-news-event .content-news-event .blog-carousel .blog-carousel-header a:focus,
.page-news-event .content-news-event .blog-carousel .blog-carousel-header a:active {
    background-color: transparent;
    color: #17c405 !important;
}
.page-news-event .content-news-event .blog-carousel .blog-carousel-desc .btn {
    border: 1px solid #17c405;
}
.page-news-event .content-news-event .blog-carousel .blog-carousel-desc .btn:hover,
.page-news-event .content-news-event .blog-carousel .blog-carousel-desc .btn:focus,
.page-news-event .content-news-event .blog-carousel .blog-carousel-desc .btn:active {
    color: #4e4e4e;
    border-color: #4e4e4e;
}
.page-news-event .portfolio-filter a {
    color: #4e4e4e;
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
}
.page-news-event .portfolio-filter a:hover,
.page-news-event .portfolio-filter a:focus,
.page-news-event .portfolio-filter a:active {
    color: #17c405;
}
.page-news-event .portfolio-filter a:after {
    content: '|';
    display: inline-block;
    position: relative;
    color: #4e4e4e;
    left: 9px;
}
.page-news-event .portfolio-filter a:last-child:after {
    content: '';
}
.newsEvent #sidebar h3 {
    font-size: 20px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 30px !important;
}
.page-under .detail-news .breadcrumb-sidebar  li {
    line-height: 20px;
    font-size: 16px;
}
.newsEvent #sidebar .search-news-event .form-group {
    position: relative;
    margin-bottom: 0;
}
.newsEvent #sidebar .search-news-event .btn-search {
    position: absolute;
    top: 1px;
    right: 0px;
    background-color: #17c405;
    border: 1px solid #17c405;
    color: #FFF;
    padding: 4px 13px;
    font-size: 14px;
    border-radius: 0 3px 3px 0;
}
.newsEvent #sidebar .form-group .form-control {
    border-radius: 3px;
}
.newsEvent #sidebar .list-radioChannel ul {
    list-style: none;
    max-height: 200px;
    margin-bottom: 0;
    margin-top: 25px;
    overflow-x: auto;
}
.newsEvent #sidebar .list-radioChannel ul li a {
    color: #4e4e4e;
}
.newsEvent #sidebar .list-radioChannel ul li a:hover,
.newsEvent #sidebar .list-radioChannel ul li a:focus,
.newsEvent #sidebar .list-radioChannel ul li a:active {
    color: #17c405;
}
.newsEvent #sidebar .list-radioChannel ul li a i {
    margin-right: 10px;
}
.newsEvent #sidebar .list-radioChannel ul li #viewMore {
    color: #17c405;
    font-size: 15px;
}
.newsEvent #sidebar .r-grid {
    display: none;
}
.page-under .breadcrumb-sidebar .title-detail-news {
    width: 200px;
    vertical-align: top;
    margin-top: 4px;
}
.page-under .detail-news .widget h2 {
    font-size: 22px;
    text-transform: capitalize;
}
.page-under .detail-news .value-latest .media-heading a {
    color: #4e4e4e;
}
.page-under .detail-news .value-latest a h4 {
    -webkit-transition: background-color .2s linear, color .2s linear;
    -moz-transition: background-color .2s linear, color .2s linear;
    -o-transition: background-color .2s linear, color .2s linear;
    -ms-transition: background-color .2s linear, color .2s linear;
    transition: background-color .2s linear, color .2s linear;
    line-height: 18px;
}
.page-under .detail-news .value-latest a:hover h4,
.page-under .detail-news .value-latest a:focus h4,
.page-under .detail-news .value-latest a:active h4 {
    background-color: transparent;
    color: #17c405 !important;
    -webkit-transition: background-color .2s linear, color .2s linear;
    -moz-transition: background-color .2s linear, color .2s linear;
    -o-transition: background-color .2s linear, color .2s linear;
    -ms-transition: background-color .2s linear, color .2s linear;
    transition: background-color .2s linear, color .2s linear;
}
.page-under .page-detail-news-event .content-news-event .heading-detail-ne a:hover,
.page-under .page-detail-news-event .content-news-event .heading-detail-ne a:focus, 
.page-under .page-detail-news-event .content-news-event .heading-detail-ne a:active {
    background-color: transparent;
    color: #17c405 !important;
}
.page-under .page-detail-news-event .content-news-event .blog-carousel-meta span {
    font-size: 14px;
    margin-right: 10px;
}
.page-under .page-detail-news-event .content-news-event .blog-carousel-meta span:after {
    content: '|';
    display: inline-block;
    position: relative;
    color: #4e4e4e !important;
    left: 9px;
    
}
.page-under .page-detail-news-event .content-news-event .blog-carousel-meta span:last-child:after {
    content: '';
}
.page-under .page-detail-news-event .blog-carousel-meta .dropdown-menu li {
    float: left;
    width: 40px;
}
.page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu {
    min-width: 140px;
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu li .goog {
    background-color: #d34836;
    padding: 10px 10px;
    line-height: 0;
    text-align: center;
}
.page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu li .goog:hover,
.page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu li .goog:focus,
.page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu li .goog:active {
    background-color: #bf3726;
}
.page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu li .face {
    background-color: #3a589e;
    padding: 10px 10px;
    line-height: 0;
    text-align: center;
}
.page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu li .face:hover,
.page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu li .face:focus,
.page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu li .face:active {
    background-color: #304a87;
}
.page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu li .twit {
    background-color: #429cd6;
    padding: 10px 10px;
    line-height: 0;
    text-align: center;
}
.page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu li .twit:hover,
.page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu li .twit:focus,
.page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu li .twit:active {
    background-color: #3b8fc6;
}
.page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu li i {
    font-size: 16px;
    color: #FFF;
    padding: 0;
}
#sidebar .engine-search .form-group {
    position: relative;
}
#sidebar .engine-search .form-group .btn-search {
    position: absolute;
    top: 1px;
    right: 0px;
    background-color: #17c405;
    border: 1px solid #17c405;
    color: #FFF;
    padding: 4px 13px;
    font-size: 14px;
    border-radius: 0 3px 3px 0;
}
#sidebar .engine-search .form-group .form-control {
    border-radius: 3px;
}
#sidebar #accordion-second .accordion-inner {
    padding: 25px 25px 10px;
    background: transparent;
    border: 1px solid #efefef;
    border-top: none;
}
#sidebar #accordion-second .accordion-inner ul li {
    list-style: none;
}
#sidebar #accordion-second .accordion-heading {
    background-color: transparent;
}
#sidebar #accordion-second .accordion-heading .accordion-toggle {
    border-bottom: 1px solid #efefef;
    background-color: transparent !important;
    padding-bottom: 5px !important;
}
#sidebar #accordion-second .accordion-heading .accordion-toggle:after {
    content: '';
    border-bottom: 1px solid #17c405;
    width: 0;
    opacity: 0;
    display: block;
    position: relative;
    top: 6px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#sidebar #accordion-second .accordion-heading .accordion-toggle:hover:after {
    width: 100%;
    opacity: 1;
}
#sidebar #accordion-second .accordion-heading .accordion-toggle em {
    background-color: transparent !important;
    color: #4e4e4e;
    margin-right: 0;
    width: 25px;
    text-align: left;
}
#sidebar #accordion-second .accordion-heading a {
    font-size: 17px;
    font-weight: 600;
}
#sidebar .widget .title p {
    margin-bottom: 0;
}
#sidebar #accordion-second .accordion-inner ul {
    overflow-x: hidden;
    max-height: 175px;
}
#sidebar #accordion-second .accordion-inner ul li a {
    color: #4e4e4e;
    font-size: 15px;
}
#sidebar #accordion-second .accordion-inner ul li a:hover,
#sidebar #accordion-second .accordion-inner ul li a:focus,
#sidebar #accordion-second .accordion-inner ul li a:active {
    color: #17c405;
}
#sidebar #accordion-second .accordion-inner ul li a i {
    margin-right: 10px;
}
#sidebar #accordion-second .accordion-group {
    margin-bottom: 30px;
}
#sidebar .form-control {
    height: 40px !important;
}
#audio-player #buttons {
    float: left;
    width: 11%;
    margin-right: 10px;
}
#audio-player #tracker {
    float: left;
    width: 50%;
    margin-top: 30px;
}
#audio-player #tracker p {
    color: #FFF;
    padding-top: 10px;
    font-size: 14px;
}
#audio-player #volume {
    float: left;
    width: 4%;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 10px;
}
#audio-player #buttons button#play {
    background: url(../images/button_play.png) no-repeat;
    width: 65px;
    height: 65px;
    background-size: 100%;
    border: none;
}
#audio-player #buttons button#pause {
    background: url(../images/button_pause.png) no-repeat;
    width: 65px;
    height: 65px;
    background-size: 100%;
    border: none;
}
#audio-player #volume #volumeup {
    width: 100%;
    height: 100%;
}
#audio-player #volume #volumeup {
    background: url(../images/button_volume.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 100%;
    border: none;
    display: inline-block;
}
#audio-player #volume #volumemute {
    background: url(../images/button_mute.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 100%;
    border: none;
    display: inline-block;
}
#audio-player #progress-bar {
    width: 100%;
    height: 5px;
    background-color: #FFF;
    position: relative;
}
#audio-player #progress-bar #progress {
    position: absolute;
    top: -5px;
    left: -1px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #FFF;
    cursor: pointer;
}
#audio-player {
    padding-top: 5px;
}
#audio-player .dropdown-menu-volume {
    visibility: hidden;
    transform: translateY(-18px);
    opacity: 0;
    transition: all 0.3s ease-in-out 1s, visibility 1s linear 1s, z-index 1s linear 0.01s;
    position: relative;
    right: 80px;
}
#audio-player #volume .dropdown-hover {
    position: relative;
    top: 3px;
    display: block;
}
#volume:hover .dropdown-menu-volume {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.2s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}
#volume .ui-slider-horizontal {
    height: 5px;
    border: none;
    border-radius: 0;
    left: 0;
    background-color: rgba(255,255,255,0.4);
}
#volume .ui-slider .ui-slider-handle {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    top: -4px;
    background-color: #FFF;
    border: none;
    outline: none;
}
#volume .ui-widget-header {
    background-color: #FFF;
}
#audio-player .button-share-radio {
    float: left;
    margin-top: 24px;
}
#audio-player .button-share-radio #dLabel span {
    background-image: url(../images/button_share.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    height: 18px;
    width: 18px;
}
.button-share-radio .dropdown-menu {
    min-width: 130px;
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-top: 10px;
    background-color: transparent;
}
.button-share-radio .dropdown-menu li {
    float: left;
    width: 40px;
}
.button-share-radio .dropdown-menu li .goog {
    background-color: #d34836;
    padding: 10px 10px;
    line-height: 0;
    text-align: center;
}
.button-share-radio .dropdown-menu li .face {
    background-color: #3a589e;
    padding: 10px 10px;
    line-height: 0;
    text-align: center;
}
.button-share-radio .dropdown-menu li .twit {
    background-color: #429cd6;
    padding: 10px 10px;
    line-height: 0;
    text-align: center;
}
.button-share-radio .dropdown-menu li i {
    font-size: 16px;
    color: #FFF;
    padding: 0;
}
.button-share-radio .dropdown-menu li .goog:hover,
.button-share-radio .dropdown-menu li .goog:focus,
.button-share-radio .dropdown-menu li .goog:active {
    background-color: #bf3726;
}
.button-share-radio .dropdown-menu li .face:hover,
.button-share-radio .dropdown-menu li .face:focus,
.button-share-radio .dropdown-menu li .face:active {
    background-color: #304a87;
}
.button-share-radio .dropdown-menu li .twit:hover,
.button-share-radio .dropdown-menu li .twit:focus,
.button-share-radio .dropdown-menu li .twit:active {
    background-color: #3b8fc6;
}
.loginnReg.modal .orLogin {
    position: relative;
    text-align: center;
}
.loginnReg.modal .orLogin hr {
    margin: 30px 0;
}
.loginnReg.modal .orLogin span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #efefef;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    font-size: 12px;
    text-align: center;
    top: -50px;
}
.loginnReg.modal .lp-password {
    color: #337ab7;
    display: block;
    margin-top: 15px;
    font-size: 15px;
}
.loginnReg.modal .widget .title h3 {
    text-transform: capitalize !important;
}
.loginnReg.modal .modal-header {
    border: none;
    padding-bottom: 0;
}
.loginnReg .title h3 {
    font-size: 20px;
}
.loginnReg .title h3 a {
    color: #337ab7 !important;
}
.loginnReg .title h3 a:hover,
.loginnReg .title h3 a:focus,
.loginnReg .title h3 a:active {
    background-color: transparent !important;
}  
.loginnReg .wrapper {margin-top: -15px;}
.loginnReg .option-login .gmail {
    color: #d34836;
    border: 1px solid #d34836;
    border-left: none;
    display: inline-block;
    width: 235px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    position: relative;
}
.loginnReg .option-login .gmail:hover,
.loginnReg .option-login .gmail:focus,
.loginnReg .option-login .gmail:active {
    background-color: #d34836;
    color: #FFF;
    border-color: #d34836;
}
.loginnReg .option-login .gmail .fa {
    background-color: #d34836;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.loginnReg .option-login .facebook {
    color: #3a589e;
    border: 1px solid #3a589e;
    border-left: none;
    display: inline-block;
    width: 235px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    position: relative;
}
.loginnReg .option-login .facebook:hover,
.loginnReg .option-login .facebook:focus,
.loginnReg .option-login .facebook:active {
    background-color: #3a589e;
    color: #FFF;
    border-color: #3a589e;
}
.loginnReg .option-login .facebook .fa {
    background-color: #3a589e;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.loginnReg .option-login label {
    margin-bottom: 0;
    position: relative;
    left: 20px;
}
.loginnReg .lineLogin {
    height: 50px;
}
.loginnReg .form-control {
    font-size: 16px;
    height: 40px;
    padding: 10px 12px;
}
.loginnReg .bc-login {
    color: #337ab7;
    margin-top: 20px;
    display: inline-block;
}
.breadcrumb-banner {
    position: relative;
    z-index: 9;
    top: 85px;
}
.breadcrumb-banner ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    color: #FFF;
}
.breadcrumb-banner ul li a {
    color: #FFF;
}
.breadcrumb-banner ul li:after {
    content: '/';
    display: inline-block;
    color: #FFF;
    position: relative;
    left: 7px;
}
.breadcrumb-banner ul li:last-child:after {
    content: '';
}
.pricing_detail:hover,
.pricing_detail:hover .priceamount {
    background-color: #17c405 !important;
}
.pricing_detail:hover .btn {
    color: #4e4e4e !important;
    background: #FFF !important;
}
.pricing_detail:hover a {
    color: #FFF !important;
}
.sec-member {
    overflow: hidden;
}
.sec-member .owl-carousel .owl-wrapper-outer {
    overflow: visible;
}
.section-form-gold,
.section-form-besic,
.section-form-premium {
    display: none;
    overflow: hidden;
}
.benefit-goldPremium ul li {
    list-style: none;
}
.getMemberPremium,
.getMemberGold {
    cursor: pointer;
}
.form-member em {
    font-size: 12px;
    font-weight: normal;
}
.form-member label {
    font-size: 14px;
}
.contact-about {
    color: #FFF !important;
    text-decoration: underline!important;
}
.contact-about:hover,
.contact-about:active,
.contact-about:focus {
    background-color: transparent !important;
}
.img-thumbRadioChannel {
    position: relative;
}
.img-thumbRadioChannel .widget {
    position: absolute;
    top: 0;
    left: 0;
}
.flexslider .slides img {
    border-radius: 0 !important;
}
#owl-testimonial-widget .owl-controls .owl-prev:hover {
    background-color: #17c405 !important;
}
.detail-news .value-latest .media-body {
    width: 10000px;
}
.page-detail-news-event .ne-carousel-desc .hvr-sweep-to-right {
    border: 1px solid #17c405;
}
.page-detail-news-event .ne-carousel-desc .hvr-sweep-to-right:hover {
    border: 1px solid #4e4e4e !important;
    color: #4e4e4e;
}
#header-style-1 .navbar-header {
    width: 74%;
}
.slider-wrapper .flex-caption h2  {
    color: #FFF;
    font-size: 38px;
    line-height: 45px;
}
.slider-wrapper .flex-caption p {
    color: #FFF;
}
.slider-wrapper {
    position: relative;
}
.slider-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3) !important ;
}
.navDesktop .dropdown a:hover,
.navDesktop .dropdown a:active,
.navDesktop .dropdown a:focus {
    background-color: transparent !important;
    color: #4e4e4e !important;
}
.navDesktop .dropdown.open a {
    background-color: transparent !important;
    color: #4e4e4e !important;
}
.navDesktop .dropdown .dropdown-menu {
    right: 40px !important;
}
.pageAccount #sidebar {
    padding-right: 15px !important;
}
#editAccount .modal-body .form-group,
#editPassword .modal-body .form-group {
    overflow: hidden;
}
#editAccount #optionsRadios1 {
    position: relative;
    top: 2px;
}
#content .content-history tr th {
    text-align: center;
}
.pageAccount .main-konfirmasi .btn {
    width: 100%;
    font-size: 18px;
}
.page-pembelianTiket .headTiket hr {
    margin: 0 0 20px;
    border: 1px solid #ccc;
}
.sparator {
    color: red;
}
.mainTiket {
    text-align: center;
    background-color: #fff;
    padding: 40px 40px;
    border: 1px solid #CCC;
    border-radius: 3px;
}
.mainTiket .contentLayar {
    text-align: center;
    background-color: #ccc;
    padding: 40px 40px;
    margin-bottom: 40px;
}
.mainTiket .contentSheet input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.mainTiket .contentSheet label {
  color: #4e4e4e;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  width: 57px;
  margin-bottom: 0;
  border: 1px solid #4e4e4e;
  font-size: 12px;
  text-align: center;
}
.mainTiket .contentSheet input[type=radio]:checked + label{
  color: #FFF;
  background-color: #17c405;
}
.mainTiket .contentSheet .radio-group {
  /*border: solid #4e4e4e;*/
  display: inline-block;
  /*border-radius: 10px;*/
 }
 .pagePembayaran table tr td {
    border: none !important;
 }
 .pagePembayaran h2 {
    border-bottom: 1px solid #efefef;
    padding-bottom: 3px;
 }
 .pagePembayaran h3 {
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 3px;
 }
 .contentPilihPembayaran .mainPembayaran .contBank img {
    margin-bottom: 10px;
 }
 .contentPilihPembayaran .mainPembayaran .contBank p {
    margin-bottom: 0 !important;
 }
 .sidebar-booking {
    border: 2px solid #efefef;
    padding: 20px;
    margin-bottom: 30px;
 }
 .sidebar-booking h3 {
    margin-top: 0;
    font-size: 24px;
    display: block !important;
}
.discount p.text-right {
    color: #222;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0 0;
    letter-spacing: 1px;
}
.sidebar-booking .main-sidebar-booking .col-xs-5 h4 {
    margin: 1px 0 0 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}
.sidebar-booking .main-sidebar-booking .col-xs-1 {
    padding: 0;
    font-size: 13px;
}
.sidebar-booking .main-sidebar-booking .col-xs-6 {
    color: #17c405;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}
.sidebar-booking .main-sidebar-booking .col-xs-5 .small {
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 18px;
}
.sidebar-booking .totalPrice {
    display: block;
    text-align: right;
    font-weight: bold;
    color: #17c405;
    font-size: 18px !important;
}
.sidebar-booking .totalPrice strong {
    margin-right: 20px;
    color: #222 !important;
}
.editInfo:hover {
    background-color: transparent !important;
    color: #4e4e4e !important;
}
.notification .success-message {
    padding: 20px 15px;
}
.notification .success-message .fa {
    color: #17c405;
    font-size: 35px;
}
.page-payment .col-sm-6 .T1 {
    color: #3879bd;
    font-size: 24px !important;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    letter-spacing: 1px;
}
.page-payment .col-sm-6 .well {
    color: red;
}
.contentPilihPembayaran .mainPembayaran {
    margin-top: 30px;
}
.contentPilihPembayaran .mainPembayaran img {
    margin-bottom: 15px;
}
.contentPilihPembayaran .mainPembayaran p {
    margin-bottom: 0 !important;
}
.konfTrans p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.sidebarKodeVoucher .form-group {
    position: relative;
}
.sidebarKodeVoucher .form-group .btn-disc {
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 8px;
}

#footer-style-1 {
    background-color: #4e4e4e;
}
#footer-style-1 .menu-footer {
    padding: 20px 0;
}
#footer-style-1 .menu-footer .main-menu-foot li {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
}
#footer-style-1 .menu-footer .main-menu-foot li a {
    color: #FFF;
    font-size: 14px;
}
#footer-style-1 .social-media li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}
#footer-style-1 .social-media li a {
    color: #FFF;
    font-size: 28px;
}
#footer-style-1 #copyrights p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Shortcode*/
.panel-default > .panel-heading:hover {
    border-color: #17c405!important;
}
.detail-page-other {
    visibility: hidden;
} 
.hidden-dekstop .dropdown .caret {
    bottom: 3px;
    position: relative;
}
.wrapper {
    height: 100%;
    overflow: hidden;
    width: 200%;
}
.page {
    float:left;
    min-height: 100%;
    padding-top: 0;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}
#myModal .modal-body {
    overflow: hidden;
}
.modal .modal-title {
    font-size: 20px;
}
.modal .close {
    position: relative;
    z-index: 9;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

button:hover,
button:active,
button:focus,
button:visited {
    outline: none;
}
#sidebar {
    padding-right: 60px;
}
img {
    border-radius: 3px;
}
/* actual dropdown animation 
.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    opacity: 0;
}
.dropdown.open .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}*/
.bg-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}
.square-img-bc:after {
    content: '';
    display: block;
    width: 100%;
    padding: 68%;
}
.bg-news:after {
    padding: 40% !important;
}
.pagination > .active > a {
    background-color: #17c405;
    border-color: #17c405;
}
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > a:active {
    background-color: #15ab05!important;
    border-color: #15ab05 !important;
}
.pagination li a {
    font-size: 14px;
    font-family: proxima-reg;
    text-align: center;
    line-height: 26px;
    padding: 4px 13px;
}
.pagination li a:hover,
.pagination li a:focus,
.pagination li a:active {
    background-color: #15ab05!important;
    border-color: #15ab05 !important;
}
.bg-overlay {
    /*background-color: rgba(0,0,0,0.5);*/
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.btn-primary {
    background-color: #17c405 !important;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #15ab05 !important;
}
.form-control:focus {
    border-color: #17c405 !important;
}
.hidden-dekstop {
    display: none;
}
.hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-reveal:active:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:hover:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.hvr-underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #17c405;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    color: #4e4e4e;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right:active:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
} 
.hvr-sweep-to-right-green {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.hvr-sweep-to-right-green:before {
    content: "";
    position: absolute;
    color: #4e4e4e;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #17c405;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right-green:active:before, .hvr-sweep-to-right-green:focus:before, .hvr-sweep-to-right-green:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.btn {
    border-radius: 3px;
} 