@media (min-width: 319px) and (max-width: 359px) {
    .radio-news-event .portfolio_item .magnifier .buttons {
        top: 18%!important;
    }
}
@media (min-width: 319px) and (max-width: 360px) {
    .page-under .page-detail-news-event .content-news-event .blog-carousel-meta span {
        font-size: 11px !important;
    }
}
@media (min-width: 319px) and (max-width: 480px) {
    
    #volume .ui-slider-horizontal {
        width: 55px !important;
    }
    .radio-news-event .title-news-event h1 {
        font-size: 28px !important;
    }
    .radio-news-event .portfolio_item .magnifier .buttons p {
        font-size: 14px !important;
    }
    .loginnReg .option-login .col-sm-6 {
        margin-bottom: 20px;
    }
    .loginnReg .option-login .facebook {
        font-size: 14px;
    }
    .loginnReg .option-login .facebook .fa {
        padding-bottom: 14px !important;
    }
}
@media (min-width: 360px) and (max-width: 400px) {
    .radio-news-event .portfolio_item .magnifier .buttons {
        top: 60px !important;
    }
}
@media (min-width: 401px) and (max-width: 414px) {
    .radio-news-event .portfolio_item .magnifier .buttons {
        top: 115px !important;
    }
}
@media (min-width: 640px) and (max-width: 767px) {
    .radio-news-event .portfolio_item .magnifier .buttons {
        top: 70%!important;
    }
    #volume .ui-slider-horizontal {
        width: 200px !important;
        left: -150px !important;
    }
    .loginnReg .option-login .mRes {
        float: left;
        width: 50%;
    }
}
@media (min-width: 319px) and (max-width: 767px) {
    #header-style-1 .search-header {
        width: 100% !important;
        margin-left: 0 !important;
        margin-top: 20px;
    }
    .button-share-radio .dropdown-menu {
        left: -50px;
    }
    #header-style-1 .navbar-default .navbar-toggle {
        margin-right: 0 !important;
    }
    #audio-player #buttons button#play,
    #audio-player #buttons button#pause {
        width: 55px !important;
        height: 55px !important;
    }
    #audio-player #buttons {
        width: 18% !important;
        text-align: right;
    }
    #audio-player #tracker {
        margin-top: 10px !important;
    }
    #audio-player #tracker h3 {
        font-size: 14px;
        color: #FFF;
        margin-bottom: 3px !important;
    }
    #audio-player #tracker p {
        margin: 0;
        padding: 0 !important;
        line-height: 15px;
    }
    #audio-player .timer-player {
        margin-bottom: 0 !important;
        position: relative;
        top: 15px
    }
    #audio-player .dropdown-menu-volume {
        visibility: visible !important;
        opacity: 1 !important;
        right: 65px !important;
    }
    #progress-bar {
        display: none;
    }
    #volume:hover .dropdown-menu-volume {
        transform: translateY(-18px) !important;
    }
    .button-share-radio .dropdown-menu {
        left: -100px;
    }
    #footer-style-1 .menu-footer .main-menu-foot  li {
        display: block !important;
        padding-right: 0 !important;
    }
    #footer-style-1 {
        padding-top: 30px;
    }
    .square-img-bc:after {
        padding: 50% !important;
    }
    .slider-wrapper .tparrows {
        width: 40px !important;
        height: 40px !important;
    }
    .slider-wrapper .tparrows:before {
        width: 36px !important;
        margin-top: 4px !important;
        font-size: 16px !important;
    }
    .channel-logo .col-sm-2 {
        width: auto !important;
    }
    .channel-logo .col-sm-2 img {
        display: inline-block !important;
    }
    .member-price .owl-carousel .owl-controls .owl-prev  {
        top: -45px !important;
        right: 50px !important;
    }
    .member-price .owl-carousel .owl-controls .owl-next  {
        top: -45px !important;
        right: 15px !important;
    }
    #owl-testimonial-widget .owl-controls .owl-prev:hover,
    #owl-testimonial-widget .owl-controls .owl-next:hover {
        background-color: #17c405 !important;
    }
    #owl-testimonial-widget .owl-controls .owl-prev,
    #owl-testimonial-widget .owl-controls .owl-next {
        background-color: #4e4e4e !important;
    }
    #audio-player #volume .dropdown-hover {
        left: 5px;
    }
    #header-style-1 .navbar-nav > li > a:focus, #header-style-1 .navbar-nav > li > a:active {
        color: #FFF !important;
    }
    #header-style-1.affix {
        padding: 20px 0;
    }
    #header-style-1 .yamm .dropdown-menu {
        max-height: 230px;
        overflow: auto;
    }
    .withText {
        padding: 30px 0 !important;
    }
    .breadcrumb-banner {
        top: 25px !important;
    }
    .breadcrumb-banner .font-36 {
        font-size: 24px !important;
    }
    .overflowMobile {
        overflow: hidden;
    }
    .bannerRadio {
        display: block !important;
    }
    .searchMobile.hidden-dekstop {
        float: right;
        margin-right: 10px;
        margin-top: 14px;
    }
    .searchMobile a {
        font-size: 20px;
        color: #4e4e4e;
    }
    .hiddenMobile {
        display: none !important;
    }
    .searchMobile .dropdown-menu {
        left: 0 !important;
        right: 0 !important;
        top: 80px !important;
        background-color: #FFF !important;
    }
    .searchMobile .dropdown-menu li {
        padding: 20px;
    }
    .searchMobile .search-header {
        margin-top: 0 !important;
    }
    .detailNews.border-top-1px {
        border-top: 1px solid #ccc;
        padding-top: 40px;
    }
    .page-detail-news-event .heading-detail-ne .font-26 {
        font-size: 22px !important;
    }
    .detailNews.viewMobile.title h2 {
        font-size: 18px !important;
    }
    .detailNews.viewMobile .media-body {
        width: 10000px;
    }
    .heading-detail-ne {
        line-height: 0 !important;
    }
    .heading-detail-ne .blog-carousel-meta {
        margin-top: 10px;
    }
    .page-under .page-detail-news-event .blog-carousel-meta .dropdown .dropdown-menu {
        left: -60px;
    }
    .secAnyQuestion .font-36 {
        font-size: 31px !important;
    }
    .modal:before {
      content: '';
      display: inline-block;
      height: auto !important;
      vertical-align: top !important;
    }
    .modal-dialog {
      display: inline-block;
      vertical-align: top !important;
    }
    #audio-player #volume #volumemute,
    #audio-player #volume #volumeup {
        width: 17px !important;
        height: 17px !important;
    }
    #audio-player .button-share-radio #dLabel span {
        height: 15px !important;
        width: 15px !important;
        position: relative;
        top: 2px;
    }
    .slider-wrapper .flex-direction-nav {
        display: none;
    }
    .slider-wrapper .flex-caption p {
        display: none;
    }
    .slider-wrapper .flex-caption h2  {
        font-size: 20px !important;
        line-height: 30px !important;
        padding-bottom: 0 !important;
        margin-top: 0;
    }
    .slider-wrapper .flex-caption {
        left: 0 !important;
        padding: 0 20px !important;
    }
    .mainTiket .contentSheet label {
        margin-top: 5px !important;
    }
    .mainTiket .text-right {
        text-align: left !important;
    }
    .banner-img {
        padding: 30px 0 !important;
    }
    .pagePembayaran .table-responsive {
        border: none !important;
    }
    .pagePembayaran .table-responsive > .table {
        margin-bottom: 20px !important;   
    }
    .contentPilihPembayaran .contBank {
        margin-bottom: 20px;
    }
    .discount p.text-right {
        font-size: 22px !important;
    }
    .sidebar-booking {
        padding: 15px 10px !important;
    }
    .btnProses .btn {
        font-size: 16px !important;
    }
}
@media (min-width: 319px) and (max-width: 980px) {
    #header-style-1 .navbar-collapse {
        border-top: 2px solid #17c405 !important;
        margin-top: 20px;
        background-color: #17c405;
    }
    #header-style-1 .navbar-nav {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    #header-style-1 .navbar-nav > li {
        padding: 10px 15px 10px !important;
        border-bottom: 1px solid #fff !important;
    }
    #header-style-1 .navbar-nav > li:last-child {
        border-bottom: none !important;
    }
    #header-style-1 .navbar-nav > li a {
        color: #FFF !important;
    }
    #header-style-1 .navbar-nav > li > a {
        display: block !important;
        line-height: 25px;
        letter-spacing: 0.08rem;
    }
    #header-style-1 .navbar-nav > li > a:hover, #header-style-1 .navbar-nav > li > a:focus, #header-style-1 .navbar-nav > li > a:active, #header-style-1 .navbar-default .navbar-nav > .open > a, #header-style-1 .navbar-default .navbar-nav > .open > a:hover, #header-style-1 .navbar-default .navbar-nav > .open > a:focus {
        background-color: transparent !important;
    }
    #header-style-1 .dropdown-menu li a {
        background-color: #4e4e4e;
    }
    .main-menu.hidden-xs {
        display: none !important;
    }
    .hidden-dekstop {
        display: block !important;
    }
    #header-style-1 .navbar-nav > li:after {
        content: '' !important;
    }
    .hidden-mobileTablet {
        display: none;
    }
    .hiddenMobile {
        display: none;
    }
    .viewMobile {
        display: block !important;
    }
    #header-style-1 .navbar-default .navbar-toggle {
        border-color: transparent !important;
        background-color: transparent !important;
    }
    #header-style-1 .navbar-default .navbar-toggle .icon-bar {
        background-color: #4e4e4e !important;
        height: 3px !important;
        width: 25px !important;
    }
    .imageBannerSale.border-top-1px {
        border-top: 1px solid #ccc;
        padding-top: 60px;
    }
    #header-style-1 .navbar-header {
        width: 100% !important;
    }
    .mainTiket {
        padding: 20px !important;
    }
    .mainTiket .contentLayar {
        padding: 20px !important;
        margin-bottom: 20px !important;
    }
    .pagePembayaran #processRent .col-md-5 {
        margin-top: 40px !important;
    }
}

@media (min-width: 768px) and (max-width: 799px) {
   #header-style-1 .search-header {
        width: 350px !important;
        margin-top: 4px;
    }
    .playerDetailChannel #volume .ui-slider-horizontal {
        width: 115px !important;
    }
    .playerDetailChannel #audio-player .dropdown-menu-volume {
        right: 135px !important;
    }
}

@media (min-width: 768px) and (max-width: 996px) {
    
    .nav.navbar-nav.hidden-xs {
        display: none !important;
    }
    .radio-palyer .col-sm-3.col-sm-offset-2 {
        margin-left: 15px !important;
    }
    .radio-palyer .col-sm-3 {
        width: 35% !important;
    }
    #audio-player #buttons {
        width: 17% !important;
    }
    #audio-player #tracker {
        margin-top: 5px !important;
    }
    #audio-player #tracker h3 {
        color: #FFF !important;
    }
    #audio-player #tracker p {
        padding: 0 !important;
        margin: 0 !important;
    }
    #audio-player #progress-bar {
        display: none !important;
    }
    #audio-player .dropdown-menu-volume {
        opacity: 1 !important;
        visibility: visible !important;
    }
    #volume .ui-slider-horizontal {
        width: 70px !important;
    }
    #audio-player .button-share-radio {
        margin-left: 5px !important;
    }
    #volume:hover .dropdown-menu-volume {
        transform: translateY(-18px) !important;
    }
    .radio-news-event .portfolio_item .magnifier .buttons {
        top: 5% !important;
    }
    ul.main-menu-foot {
        width: 500px;
    }
    .member-price .owl-carousel .owl-controls .owl-prev {
        top: -30% !important;
        right: 50px !important;
    }
    .member-price .owl-carousel .owl-controls .owl-next {
        top: -30% !important;
        right: 15px;
    }
    .withText {
        padding: 60px 0 !important;
    }
    .breadcrumb-banner {
        top: 50px !important;
    }
    .playerDetailChannel {
        margin: 0 145px;
    }
    .searchMobile {
        display: none !important;
    }
    .pageChannel.hiddenMobile {
        display: block !important;
    }
    .pageChannel.viewMobile {
        display: none !important;
    }
    #sidebar {
        padding-right: 15px !important;
    }
    .page-under .detail-news .widget h2 {
        font-size: 18px !important;
    }
    .mainTiket .text-right {
        text-align: left !important;
    }
}
@media (min-width: 800px) and (max-width: 996px) {
   #header-style-1 .search-header {
        width: 400px !important;
        margin-top: 4px;
    }
   .titlePlayer {
        display: none !important;
   }
   #audio-player .dropdown-menu-volume {
        opacity: 1 !important;
        visibility: visible !important;
        right: 195px !important;
    }
    #volume .ui-slider-horizontal {
        width: 175px !important;
    }
    #audio-player .button-share-radio {
        margin-left: 5px !important;
    }
    #volume:hover .dropdown-menu-volume {
        transform: translateY(-18px) !important;
    }
    .playerDetailChannel #volume .ui-slider-horizontal {
        width: 120px !important;
    }
    .playerDetailChannel #audio-player .dropdown-menu-volume {
        right: 135px !important;
    } 
}
@media (min-width: 979px) and (max-width: 980px) {
    .member-price .owl-carousel .owl-item {
        width: 240px !important;
    }
}
@media (min-width: 997px) and (max-width: 1024px) {
    #header-style-1 .navbar-brand {
        padding-left: 0 !important;
    }
    #header-style-1 .navbar-right {
        margin-right: 0 !important;
    }
    #header-style-1 .search-header {
        width: 350px !important;
    }
    .radio-palyer .col-sm-3 {
        width: 25% !important;
        margin-left: 13%;
    }
    .radio-palyer .title-radio h3 {
        width: 120px !important;
    }
    #audio-player #progress-bar {
        display: none !important;
    }
    #audio-player .dropdown-menu-volume {
        opacity: 1 !important;
        visibility: visible !important;
        right: 250px !important;
    }
    #volume .ui-slider-horizontal {
        width: 230px !important;
    }
    #audio-player .button-share-radio {
        margin-left: 5px !important;
    }
    #volume:hover .dropdown-menu-volume {
        transform: translateY(-18px) !important;
    }
    .radio-news-event .portfolio_item .magnifier .buttons {
        top: 5% !important;
    }
    .radio-news-event .portfolio_item .magnifier .buttons p {
        font-size: 14px;
    }
    .radio-news-event .col-md-4 {
        width: 50% !important;
    }
    .member-price .owl-carousel .owl-item {
        width: 314px !important;
    }
    .withText {
        padding: 90px 0 !important;
    }
    .breadcrumb-banner {
        top: 80px !important;
    }
    .playerDetailChannel #audio-player .dropdown-menu-volume {
        right: 300px !important;
    }
    .playerDetailChannel #volume .ui-slider-horizontal {
        width: 280px !important;
    }
    .detail-channel #sidebar.mt-165 {
        margin-top: 100px !important;
    }
    .slide-news-event .owl-carousel .owl-item {
        width: 185px !important;
    }
    .slide-news-event .blog-carousel-header h3 {
        font-size: 16px !important;
    }
    #sidebar {
        padding-right: 15px !important;
    }
    #header-style-1 .navbar-header {
        width: 68% !important;
    }
    .mainTiket .text-right {
        text-align: left !important;
    }
}

@media (min-width: 1279px) and (max-width: 1280px) {
    
    #header-style-1 .navbar-header {
        width: 74% !important;
    }
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .radio-news-event .portfolio_item .magnifier .buttons {
        top: 28% !important;
    }
}